<div class="content">
  <h3>Chats:</h3>

  <div class="card-container">
    <ng-container *ngFor="let chat of chats">
      <div class="card" [routerLink]="['messages/' + chat._id]">
        <span *ngFor="let user of chat.users; let i = index">
          {{ user.name }}
          <ng-container *ngIf="i !== chat.users.length - 1">
            <span [ngStyle]="{ margin: '0 10px' }">
              &&
            </span>
          </ng-container>
        </span>
      </div>
    </ng-container>
  </div>
</div>
